
/* = = = = = = = = = = = = = = = = = datei animation.css = = = = = = = = = = = = = = = = = = = = = = = = = */

/* diese datei regelt die css-animationen  */


/* ############################################################ */
/* | Animation mit KEYFRAMES | */
/* SLIDESHOW - BILDWECHSLER */
/* ############################################################ */

#slider { animation: slide 60s infinite;
width: 500%;height:100%;
animation-direction:normal;
}

#slider div {width: 20%;
float: left;display:table;
}

@keyframes slide {

0% { transform: translateX(0);}
17% { transform: translateX(0);}
20% { transform: translateX(-20%);}
37% { transform: translateX(-20%);}
40% { transform: translateX(-40%);}
57% { transform: translateX(-40%);}
60% { transform: translateX(-60%);}
77% { transform: translateX(-60%);}
80% { transform: translateX(-80%);}
98% { transform: translateX(-80%);}

}


/* = = = = = slideshow-bilder  = = = = =  */

.pics {display:table;
padding:0rem;
margin:0;
width:100%;height:100%;
overflow:hidden;
background-position:50% 50%;
background-repeat:no-repeat;
background-size:cover;
}

.pics .inhalt {display:table-cell;vertical-align:bottom;
padding-bottom:1rem;
}

.pic-a-01 {background-image:url(../images/logo01.jpg);  }

.pic-a-02  {background-image:url(../images/logo02.jpg); }

.pic-a-03 {background-image:url(../images/logo03.jpg);  }

.pic-a-04  {background-image:url(../images/logo04.jpg); }

.pic-a-05 {background-image:url(../images/logo05.jpg);  }



/* = = = = = bildanzeiger = = = = =  */

/*  bildanzeiger icon allgemein */
.pics i {display:inline-block;
font-family:'Font Awesome 5 Free';/* - 'Font Awesome 5 Free' for Regular and Solid symbols;
                                     - 'Font Awesome 5 Brands' for Brands symbols. */
font-weight: 400;/*  Weight of the font (mandatory)
                     - 400 for Regular and Brand symbols;
                     - 900 for Solid symbols. */
font-size:1.4rem;
color:aliceblue;
font-style:normal;
text-shadow:0px 0px 1px #000;
padding: 0;
margin:0;
}

/* bildanzeiger icon - auswahl bilder */
.pics i:before {content:"\f111"; }

/*  bildanzeiger icon - aktuelles bild */
.pics .zeiger:before {font-weight: 400; content:"\f192"; }





/* ############################################################ */
/* | Animation mit CSS Transition | */
/* hinweis: eventuelle animationen mit TRANSITION sind direkt in der datei datei MENUE.CSS bzw. FORMAT.CSS angelegt */
/* ############################################################ */




/* ############################################################ */
/* NACHFOLGEND NUR INFORMATION FÜR SIE */
/* Kurzer Überblick: ANIMATIONEN mit CSS Keyframes und CSS Transition */
/* ############################################################ */


/*

CSS-Animationen ermöglichen auf einfache Art, was frueher nur mit der komplizierteren Flash- oder Javascript-Technik zu bewältigen war.


Es gibt 2 Arten von CSS Animationen, naemlich

(1) CSS TRANSITION

(2) CSS ANIMATION (auch KEYFRAMES-ANIMATION genannt).

Bei einer einfachen Animation wie z.b Drehung um 360grad bei Mouseover (hover) ausgeloest,
kann man von aussen nicht erkennen, ob diese mit (1) oder (2) gemacht ist.

(1) =
- Erlaubt nur 2 Zustaende, Anfangs- und Endzustand
- Braucht zur Ausloesung einen sog. Trigger (z.b.hover oder focus), in der Regel also eine Mausbeuerung oder Touch.
- Kein Loop gestattet (zb. spiele 8x ab ist NICHT erlaubt).
- Spielt unendlich ab (infinite).

(2) =
- Erlaubt die 2 Zustaende (bzw. die  sind Pflicht) wie bei 1), dann jedoch viele mogliche Zustaende dazwischen, eben Keyframes, wie beim Film.
- Startet im Gegensatz zu 1) auch automatisch (z.b. Foto-Slideshow) beim Laden der Seite.
- Loop-Angabe ist ERLAUBT.
- Spielt unendlich ab (infinite).

GEMEINSAM (1. und 2.) HABEN BEIDE  bezueglich der Anfangs-oder Endgeschwindigkeit:
- Zeitangabe fuer kompletten Durchlauf
- Zeitverzoegernung (delay), also starte erst nach X sec
- Geschwindigkeitssteuerung , verschiedene, wie :
// starte schnell, ende langsam  (ease-out)
// starte langsam ende schnell (ease-in)
// spiele gleichmaessig ab (linear) o.a.

*/