


/* = = = = = = = = = = = = = = = = = datei boxfenster.css = = = = = = = = = = = = = = = = = = = = = = = = = */



/* ############################################################ */
/* boxfenster  */
/* ############################################################ */

.schalter  {position:relative; }

.boxfenster  {display:block;
font-size:15px;
position:fixed;
top:0;
left:0;
z-index:4;
overflow:auto;
box-shadow: 0 0 1px black;
text-align:left;
font-size:1.7rem;
line-height:2.5rem;
height:100vh;
width:100vw;
margin-top:-260vh;
overflow:hidden;
transition:opacity 1.8s;
opacity:0;
}

.boxinhalt {display:block;overflow:auto;position:relative;
background:#fff;
color:#000;
height:100%;
padding:4rem 2rem 0rem 2rem ;
margin:0;
}


/*  abstandshalter im boxfenster-inhalt zum unteren rand hin */
p.break  {
line-height:15rem;margin:0;
}


/* ############################################################ */
/* oeffnen-schalter style für box-fenster  */
/* ############################################################ */

/* siehe in der datei format.css bei WEITER-BUTTON sowie bei den LINKS IM FUSSMENUE */



/* ############################################################ */
/* schließen-schalter style für box-fenster  */
/* ############################################################ */

.schalter label.button-close {display:inline-block;
position: absolute;
top:1rem;right:5rem;
z-index:3;
cursor:pointer;
background:transparent;
}

/* icons  */

.schalter .button-close i {display:inline-block;text-align:center;
background:transparent;position:fixed;
color:#f44334;
padding: 0rem;
font-size:3rem;
width:4rem;
height:4rem;
line-height:4rem;
border-radius:100%;
}

.schalter .button-close i:hover   {color:#000; }



/* ############################################################ */
/*  box-fenster schaltfunktion AN / AUS */
/* ############################################################ */

/* checkboxen versteckt */
.schalter input[type=checkbox]{
display: none;
}

input#open-home:checked ~ .boxfenster,
input#open-primus:checked ~ .boxfenster,
input#open-secundus:checked ~ .boxfenster,
input#open-tertius:checked ~ .boxfenster,
input#open-quartus:checked ~ .boxfenster,
input#open-quintus:checked ~ .boxfenster,
input#open-sextus:checked ~ .boxfenster,
input#open-impressum:checked ~ .boxfenster,
input#open-datenschutz:checked ~ .boxfenster,
input#open-disclaimer:checked ~ .boxfenster,
input#open-agb:checked ~ .boxfenster {
margin:0;
opacity:1;
background:rgba(0,0,0,.7);
}




/* ############################################################ */
/* M E D I A   Q U E R I E S - RESPONSIVE-BILDSCHIRMABFRAGEN*/
/* ############################################################ */



/* ==================================== ab 480 pixel ================================== */
@media (min-width: 480px) {

.boxinhalt {padding:5rem 4rem 0rem 4rem ; }

}


/* ==================================== ab 960 pixel ================================== */
@media (min-width: 960px) {

.boxinhalt {padding:5rem 5rem 0rem 5rem ;
width:82rem;
height:84vh;margin:0 auto;
margin-top:8vh;
margin-bottom:8vh;
}


}

