

/* = = = = = = = = = = = = = = = = = datei format.css = = = = = = = = = = = = = = = = = = = = = = = = = */


/* ############################################################ */
/* allgemein */
/* ############################################################ */

*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
font-family:'open_sanslight',georgia, tahoma, arial, Verdana, Segoe, 'Open Sans',helvetica,roboto ,sans-serif;
font-size:62.5%;
line-height:1.6;
font-weight:normal;
height:100%;
}

body {
font-size:1.7rem;
margin: 0 auto;
}


/* überschriften */

h1, h2, h3, h4, h5 {
color:#000;
text-align:left;
letter-spacing:0px;
font-weight:normal;font-weight:bold;
text-transform:none;
}

h1 {
font-size:3.5rem;
line-height: 3.7rem;
margin-top: 0rem;
margin-bottom: 5.2rem;
}


h2 {text-transform:uppercase;
font-size:2.5rem;
line-height: 3rem;
margin-top: 1rem;
margin-bottom: 3.5rem;
letter-spacing:2px;
}


h3 {color:#1f1f1f;
font-size:1.8rem;
line-height: 2.3rem;
margin-top: 1rem;
margin-bottom:2.5rem;
text-transform:none;
letter-spacing:0px;
}

/* quelltext-erklärungen - wenn vorhanden */

pre {white-space:pre-wrap;position:relative;
font-size:1.5rem;
font-family: arial, Verdana, Segoe, 'Open Sans',helvetica,roboto ,sans-serif;
padding:0rem 1rem 2rem 1rem;
margin:4rem auto;
text-align:center;
border:dashed 0.1rem #7f7f7f;
background:transparent;
}

pre .extra {display:inline-block;
position:absolute;
left:-1.5rem;top:1.5rem;font-size:1.8rem;
color:#fff;font-weight:bold;
background:darkslategray;padding:0 .5rem;
transform:rotate(-45deg);
}


/*  ----------------------------------------  */
/* allgemeine links */
/*  ----------------------------------------  */

a {background-color:transparent;
color:#000 ;
text-decoration: underline;
}

a:hover  {color:#000;
text-decoration:none;
}



/* ############################################################ */
/*  speziell*/
/* ############################################################ */

/* bilder -anpassen der grösse */
img {max-width: 100%;display:block;
margin:0 auto;
height: auto;
}


/*  ----------------------------------------  */
/*   MEHR LESEN-BUTTON  */
/*  ----------------------------------------  */

/* ----- style ----- */

.button  {display:block;
margin:3rem 0 1rem 0;
text-align:left;
}

.button .mehr_lesen a {display:inline-block;
background:#3f3f3f;
color:#fff;
text-decoration:none;
padding:.3rem 1.5rem;
border-radius:0;
transition:all  .3s ease-out;
cursor:pointer;
border-radius:0rem;
}

.button .mehr_lesen a:hover {color:#fff;
background:#5f5f5f;
}


/* ----- icon beim MEHR LESEN-BUTTON ----- */

.button .mehr_lesen a:before {display:inline-block;
font-family:'Font Awesome 6 Free';/* - 'Font Awesome 6 Free' for Regular and Solid symbols;
                                     - 'Font Awesome 6 Brands' for Brands symbols. */
font-weight: 900;/*  Weight of the font (mandatory)
                     - 400 for Regular and Brands symbols;
                     - 900 for Solid symbols. */
content:"\f0da" ;
transform:scale(1);
color:red;
padding: 0 .5rem 0 0;
margin:0;
}

.button .mehr_lesen a:hover:before {color:#fff; }



/*  ----------------------------------------  */
/* LISTE-SPEZIAL  */
/*  ----------------------------------------  */

/* ----- style wenn icon (fontawesome) vorangestellt ----- */

.liste-spez-2   {display:block;padding:0;}

.liste-spez-2 ul  {text-align:left;
margin:0rem 0 0 -1rem;
padding:0rem 0 0 0rem;
}

.liste-spez-2 li {list-style:none;
list-style-position: inside; /* rückt gfls zweite zeile ein*/
text-indent:-1.5rem; /* rückt gfls zweite zeile ein */
padding-left:1.5rem; /* rückt gfls zweite zeile ein */
}



/* = = = = = = = = = =  = = = = = = = = = =  = = = = = = = = = = = = = = = = = = = = */
/*  GRID-SYSTEM  - für Bilder / Spalten */
/* = = = = = = = = = =  = = = = = = = = = =  = = = = = = = = = = = = = = = = = = = = */

/* ---------- boxen - grundsystem ---------- */

.box {display:inline-block;
text-align:left;
vertical-align:top;
width:100%;
padding: 1rem;
margin:0  -.25rem; /* ausgleich ( minus-margin) für INLINE-BLOCK-WHITESPACE-BUG*/background:xxred
}

.box-1_of_1 ,
.box-1_of_2 ,
.box-1_of_3,
.box-1_of_4,
.box-1_of_5 {width:100%; }


/* ---------- boxen - bilder ---------- */

.bilder .box ,
#gallery .bilder .box {padding:.2rem; }

.bilder .box-1_of_1 ,
.bilder .box-1_of_2 ,
.bilder .box-1_of_3,
.bilder .box-1_of_4 {width:100%; }
.bilder .box-1_of_4b  {width: 50%; }

#gallery .bilder .box-1_of_2 {width:50%; }
#gallery .bilder .box-1_of_4  {width:50%; }


/*  bei Mausberührung der Bilder, wenn diese verlinkt sind (z.B Lightbox) */
a:hover img {opacity:.8;  filter: grayscale(1); }


/*  ---------- boxen - andere ---------- */

#start .box-1_of_2 ,
#about .box-1_of_2 ,
#gallery .box-1_of_2 ,
#technik .box-1_of_2 ,
#kontakt .box-1_of_2 ,
#leistungen .box-1_of_3 ,
#leistungen.more .box-1_of_2 ,
#last .box-1_of_2 { width:100%; }

#fuss .box-1_of_2  {width: 100%; }


/* ############################################################ */
/* bereich logo */
/* ############################################################ */


#logo {display:table;
width:100%;
margin:0;
padding:0;
text-align:center;overflow:hidden;
background-repeat:no-repeat;
background-position:50% 60%;
background-size:cover;
background-image:url(../images/logo03.jpg); /* fallback-bild- dieses ersatz-foto erscheint nur, falls sie im html-bereich die komplette slideshow loeschen moechten*/
}

.logo-inhalt {position:relative;display:table-cell;
width:100%;height:100vh;
padding:0rem 0rem;
margin:0;
}

#name  {
position:absolute;display:inline-block;
z-index:1;
top:50%;left:50%;
width:30rem;height:24rem;
margin-top:-12rem;
margin-left:-15rem;
background:rgba(0,0,0,.5);
text-align:center;
color:#fff;
font-weight:bold;
font-size:1.8rem;
line-height:2.3rem;letter-spacing:1px;
padding:0rem;
text-shadow:0px 0px 1px black;
text-transform:uppercase;
}

#name .inhalt {display:table-cell;vertical-align:middle;text-align:center;
height:24rem;width:30rem;
padding:1rem;
}

#name span {display:block;
color:black;background:linear-gradient(to right,transparent,wheat,transparent);
font-weight:normal;width:30rem;margin:0 auto;
letter-spacing:1px;
text-shadow:none;
font-size:1.6rem;
padding: 0 .5rem;
text-transform:none;
}

/* icons-gruppe  */

#logo .icons {margin:.1rem 0; }
#logo .icons ul {margin:0;padding:0; }
#logo .icons li {display:inline-block;list-style:none;margin:0 .4rem;}

#logo .icons i {
background:transparent;
color:white;
text-shadow:1px 1px 0px black;
margin-right:0rem;
font-size:1.5rem;
}

#logo .icons i:hover  {color:tomato; }



/* ############################################################ */
/* bereich inhalt */
/* ############################################################ */

main#inhalt {display:block;
background:#1f1f1f;/* wird aber nachstehend durch NTH-CHILD gesetzt/überschrieben */
color:#ECE9FE;
padding:0rem;
}

.inhalt-a {display:block;
width:100%;
margin:0 auto;
padding:4rem 2rem 4rem 2rem;
}

.inhalt-a .box  {vertical-align:middle; }

/* icons */

.inhalt-a .liste-spez-2 ul  {
margin:0rem 0 0 2rem;
}

.inhalt-a  i {
transform:scale(.8);
color:red;
margin-right:1rem;
}

#inhalt a:hover i {
color:lightskyblue;
}


/*  ----------------------------------------  */
/*  NTH-CHILD - jeder ungerade (odd) abschnitt, also 1, 3, 5 , 7 usw. */
/*  ----------------------------------------  */

.section-inhalt:nth-child(odd) .inhalt-a {
background:#fff;
}


/*  ----------------------------------------  */
/*  NTH-CHILD - jeder gerade (even) abschnitt , also 2, 4, 6 , 8 usw. */
/*  ----------------------------------------  */

.section-inhalt:nth-child(even) .inhalt-a {
background:#F8F8F8;
}


/*  ----------------------------------------  */
/*  box KONTAKT                               */
/*  ----------------------------------------  */

#kontakt .box {font-size:1.4rem;
margin-bottom:1rem;
}

/* icons */

#kontakt  i {
transform:scale(1);
color:slategray;
}

#kontakt  b.day {display:inline-block;width:8rem;font-weight:normal;padding-left:2rem; }



/*  ----------------------------------------  */
/*  box LEISTUNGEN                            */
/*  ----------------------------------------  */

#leistungen  {margin:0 auto; }

#leistungen .box  {margin-bottom:1rem;padding:1rem 0; }

#leistungen h3 {text-align:center; }

/* button zentriert  */
#leistungen .button  {text-align:center;}


/* icons style */

#leistungen .box i {display:block;
background:white;
color:#4F4F4F;
text-align:center;
margin:0 auto;
width:12rem;
height:12rem;
line-height:12rem;
font-size:6rem;
text-shadow:0 0 1px black;
border-radius:1rem;
box-shadow: 0 0 .1rem rgba(0,0,0,.5);
}



/* ############################################################ */
/* bereich fuss */
/* ############################################################ */

footer {display:block;
margin:0 auto;
padding:0rem ;
background:#2f2f2f;
background-image:url(../images/logo03.jpg);
background-position:50% 40%;
background-repeat:no-repeat;
background-size:cover;
}

#fuss {display:block;
margin: 0 auto;
padding:1rem;
}

.fuss-a {display:block; margin:0 auto;
background:linear-gradient(to right, rgba(0,0,0,.7),rgba(0,0,0,.3),rgba(0,0,0,.7) );
padding:2rem 1rem 2rem 1rem;
}

#fuss .box {
text-align:left;
padding:0rem 1rem;margin-bottom:1.5rem;
}

#fuss .box h3 {
text-align:left;
font-size:1.5rem;
color:#fff;
letter-spacing:1px;
font-weight:bold;
text-transform:uppercase;
padding-bottom:.5rem;
margin-top: 0rem;
margin-bottom:.5rem;
border-bottom:solid 1px firebrick
}


.fussmenu  ul {text-align:left;list-style: none;padding: 0;margin: 0; }
.fussmenu li { display:block; }


/* ----- icons ----- */

.fussmenu li i,
.fussmenu li a i {color:#EFEFEF;
transition:all .1s ease-out ;
font-size:1.3rem;
margin-right:1rem;
}

.fussmenu li a:hover i {color:tomato; }


/*  ----------------------------------------  */
/*  die wesentlichen schriftformate für den gesamten footer plus fussmenu */
/*  ----------------------------------------  */

#fuss,
#fuss  a {
color:#fff;
font-weight:normal;
font-size:1.4rem;
line-height:2.2rem;text-decoration:none;
}

#fuss li a:hover  {color:#fff;text-decoration:none; }
#fuss label {cursor:pointer; }



/* ############################################################ */
/* M E D I A   Q U E R I E S - RESPONSIVE-BILDSCHIRMABFRAGEN */
/* ############################################################ */

/* ==================================== ab 320 pixel ================================== */

/*  nur info - für die kleinste smartphone-auflösung von 320pixel benötigen wir KEINE bildschirmabragen (media queries), denn hierfür gilt ja automtisch der gesamte vorstehende quelltext-code - weil wir das template ja 'mobile-first' angelegt haben */


/* ==================================== ab 360 pixel ================================== */
@media (min-width: 360px) {

/* keine angabe */

}


/* ==================================== ab 480 pixel ================================== */
@media (min-width: 480px) {

.inhalt-a {padding:4rem 10vw; }
#fuss {padding:2rem 10vw; }

}


/* ==================================== ab 580 pixel ================================== */
@media (min-width: 580px) {

html {font-size:70%;}

#name  {
width:42rem;height:26rem;
margin-top:-13rem;
margin-left:-21rem;
}

#name .inhalt {width:42rem;height:26rem; }

.bilder .box-1_of_2 {width: 50%; }
.bilder .box-1_of_3 {width: 33.33%;  }
.bilder .box-1_of_4 {width: 50%; }

}


/* ==================================== ab 640 pixel ================================== */
@media (min-width: 640px) {

pre {width:90%; }

}


/* ==================================== ab 760 pixel ================================== */
@media (min-width: 760px) {

.logo-inhalt {height:45rem; }

#gallery .bilder .box-1_of_4  {width: 25%; }

#leistungen .box-1_of_3 {width: 50%; }
#leistungen.more .box-1_of_2 {width: 50%; }
#leistungen h3 {font-size:1.4rem; }

#fuss ,
#fuss  a {font-size:1.3rem; }

}


/* ===================================== ab 960 pixel ================================= */
@media (min-width: 960px) {

.inhalt-a {padding:6rem 5vw; }

#name  {
width:60rem;
height:26rem;
margin-top:-10rem;
margin-left:-30rem;
font-size:2.5rem;
line-height:3rem;
}

#name .inhalt {width:60rem;height:26rem; }

.bilder .box-1_of_4 {width: 25%;  }

#start .box-1_of_2 {width:50%; }
#about .box-1_of_2 {width:50%; }
#gallery .box-1_of_2 {width:50%; }
#technik .box-1_of_2 {width:50%; }
#kontakt .box-1_of_2 {width:50%; }
#last .box-1_of_2 {width:50%; }
#leistungen .box-1_of_3 {width: 33.33%; }

#fuss {padding:4rem 5vw; }
#fuss .box-1_of_2 {width:50%; }

}


/* ===================================== ab 1024 pixel ================================= */
@media (min-width: 1024px) {

pre {width:80%; }

}


/* ===================================== ab 1280 pixel ================================= */
@media (min-width: 1280px) {

html {font-size:78%;}

.inhalt-a {padding:6rem 10vw; }
#fuss {padding:4rem 10vw; }


}


/* ===================================== ab 1400 pixel ================================= */

@media (min-width: 1400px) {

/* keine angabe*/

}


/*    +  +  +  +  + +  +  +  +  +  C O D E ENDE  +  +  +  +  +  +  +  +  +  +    */