
* { box-sizing: border-box }

body { font-family:'Open Sans'; background-color:#fafafa;}

.main {
  position: relative;
  max-width: 960px;
  background-color: #e3e3e3;
  margin: 10px auto;
  padding: 20px 10px;
}

.main nav {
  position: fixed;
  width: auto;
  margin-left: -20px;
  margin-top: -20px;
  padding: 10px;
  text-align: center;
  background-color: #34495e;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}

.main nav:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 10px;
  height: 10px;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
  background-color: #4A6988;
  z-index: -1;
}

.main ul {
  padding: 0;
  margin: 0;
}

.main nav li {
  display: inline;
  margin: 10px;
  list-style-type: none;
  width: 100%;
}

.main nav a {
  text-decoration: none;
  color: #fff;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 1.1em;
  display: inline-block;
}

section {
  padding-top: 10px;
  height: 500px;
  width: 100%;
  background-color: #B2B2B2;
  margin: 20px 0;
}

section h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

#home { background-color: #27ae60; }

#about { background-color: #2980b9; }

#gallery { background-color: #8e44ad; }

#info { background-color: #e67e22; }

#contacts { background-color: #e74c3c; }
